body{
  background-color:#7777e0 ;
}

.imgprtotype img {
  margin:auto;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh !important; 
  
  
  display: flex;
  justify-content: center ;
  align-items: center;
  font-family: Arial, sans-serif;
  text-align: center;
 
}