.certificate {
  margin: 0 auto;

  .winner {
    transform: translateY(410px);
    margin-top: 0px;
    color: #f5c021;
    font-size: 50px;
    font-family: "Comic Neue", cursive;
    stroke: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
  }
}
