.game-container {
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px;

  img {
    padding-top: 100px;
    object-fit: cover;
  }
}
